.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.checkbox-label {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  transition: color 0.3s; /* Smooth transition for color change */
}

.hidden-checkbox {
  display: none;
}

.checkbox-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-box {
  width: 18px; /* Increase width here */
  height: 18px; /* Increase height here */
  border: 2px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s; /* Smooth transition for border color change */
}

.checkmark {
  width: 16px; /* Adjust size of the checkmark to fit the larger box */
  height: 16px;
  stroke: #f89dc9; /* Initial color of the checkmark */
  display: none; /* Initially hide checkmark */
}

.hidden-checkbox:checked + .checkbox-content .checkbox-box .checkmark {
  display: block;
}

.checkbox-label:hover .checkbox-box .checkmark,
.hidden-checkbox:checked + .checkbox-content .checkbox-box .checkmark {
  display: block; /* Show checkmark on hover or when checked */
}

.checkbox-text {
  font-size: 15px;
  color: #333333;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s; /* Smooth transition for color change */
}

.checkbox-count {
  font-size: 15px;
  color: #333333;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s; /* Smooth transition for color change */
}

.checkbox-label:hover .checkbox-text,
.checkbox-label:hover .checkbox-count {
  color: #f89dc9; /* Change text color on hover */
}

.checkbox-label:hover .checkmark {
  stroke: #f89dc9; /* Change checkmark color on hover */
}

.custom-range {
  -webkit-appearance: none; /* Hides the default range appearance */
  width: 100%;
  height: 8px; /* Increase height to give enough space for thumb */
  background: #f2f6f6;
  border-radius: 5px;
  outline: none;
  position: relative;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background-color: #f87f96; /* Thumb color */
  /* border-radius: 50%; */
  cursor: pointer;
  margin-top: -9px; /* Align thumb in the middle */
}

.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #f87f96;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-webkit-slider-runnable-track {
  height: 2px;
  background-color: #f87f96; /* Track color */
  border-radius: 5px;
}

.custom-range::-moz-range-track {
  height: 8px;
  background-color: #f87f96;
  border-radius: 5px;
}

.custom-range::-ms-track {
  width: 100%;
  height: 8px;
  background: transparent; /* Transparent to hide the default appearance */
  border-color: transparent;
  color: transparent;
}

.custom-range::-ms-fill-lower {
  background-color: #f87f96;
  border-radius: 5px;
}

.custom-range::-ms-fill-upper {
  background-color: #f2f6f6;
  border-radius: 5px;
}
